{template header common}
{template artels-menu-header common}
<section class="container">
    <div class="baseline">
        <div class="text-center margin-big">
            <img src="{SKIN_PATH}statics/images/about.jpg" alt="">
            <p class="hd-h3">关于我们</p>
        </div>

        <div class="content w80 text-left margin-left-b10 hd-h4 margin-large-bottom">
            <p class="strong margin-bottom text-main">●宝龙集团</p>
            <p>宝龙集团1992年开始投资中国内地，旗下宝龙地产(HK.1238)于2003年起专注开发及经营高质量、大规模、多业态的综合性商业地产项目，其中主打产品“宝龙广场”获得了各地政府和公众的广泛关注与认可，不仅拉动了地方经济的发展，更完善了当地城市的功能配套，为社会提供了众多的就业机会，实现了人们对生活的需求和梦想，提升了城市的品位。</p>
            <br/>
            <p>宝龙地产2009年在香港上市，截至2016年8月，宝龙地产在全国28座城市已拥有62个物业项目，其中长三角区域布局31个(上海13个)，目前在营中的商场达26个。宝龙地产坚持“以上海为中心、深耕长三角”的发展战略，未来五年，将继续以上海为中心辐射长三角，实现累计销售千亿，在营商场50个，同时把产品品质、管理水平、队伍素质等各方面提升到更高的层次，致力于成为受人尊重、中国领先的城市综合体运营商。</p>
            <p class="strong  margin-bottom margin-large-top text-main">●宝龙酒店集团</p>
            <p> 酒店旅游业是宝龙集团五大产业之一，宝龙酒店集团于2015年正式成立，目前开始驶入快速发展轨道。
                <br/>主营业务：国际品牌酒店、自创品牌连锁酒店、自创品牌连锁餐厅。
                <br/>宝龙酒店集团负责上述业务的管理及运营，在面对国内酒店旅游行业格局变化调整的市场大环境下，承担起新的历史使命，为宝龙集团在酒店旅游业开疆拓土，实施多元化经营战略夯实基础。</p>
            <br>
            <p>宝龙酒店集团将承担起上述业务的管理及运营，并且在面对国内酒店旅游行业格局变化调整的市场大环境下，承担起新的历史使命，将为宝龙集团在酒店旅游业开疆拓土，为宝龙集团业务转型，实施多元化经营战略夯实基础。2014年宝龙集团成立了“宝龙酒店集团酒店酒店管理公司”，作为宝龙酒店集团旗下专业酒店管理公司负责自营酒店的日常经营和管理输出。</p>
            <p class="strong  margin-bottom margin-large-top text-main">●酒店品牌</p>
            <p> 宝龙自创品牌连锁酒店是宝龙酒店集团旗下艺术主题酒店。
                <br/>
                在酒店遇见艺术，让艺术融入生活”，是宝龙艺术酒店的发展愿景。2011年，宝龙集团开始涉足文化产业，成立了宝龙美术馆、宝龙艺术中心、书藏楼、宝龙华韵、韵致画廊和宝龙拍卖等文化艺术机构。
                <br/>
                2015年，宝龙酒店集团正式成立，标志着宝龙以文化艺术为内核打造平台，以多年的城市综合体与酒店运营经验为支撑，形成艺术品、艺术衍生品和酒店业“文化”＋“商业”＋“艺术酒店”的艺术产业链的正式形成。
                <br/>
                如今，宝龙旗下艺术酒店已形成“艺筑、艺悦、艺悦·精选、艺珺”系列品牌，涵盖商务型、中端、高端及豪华型多层级的艺术酒店，倾力打造场景式酒店艺术体验。
                <br/>
                宝龙以文化艺术为内核打造平台，以对于才华的珍视与社会责任感汇聚文创英才，以多年的城市综合体与酒店运营经验为保障，形成艺术品、衍生品以及其他生活方式类服务与消费品的产业链与“文化”＋“商业”＋“艺术酒店”的复合经营业态，促进当地文化艺术休闲旅游市场的蓬勃繁荣。
            </p>
            <p class="strong  margin-bottom margin-large-top text-main">●联系我们</p>
            <p>宝龙酒店集团</p>
            <p>联系电话：021-51759999</p>
            <p>公司地址：上海市闵行区新镇路1399号宝龙大厦5楼</p>
        </div>
    </div>
</section>
{template artels-menu-footer common}
</body>
</html>
