{template header common}
{template artels-menu-header common}
        <section class="container">
            <div class="baseline">
                <div class="text-center margin-big">
                    <img src="{SKIN_PATH}statics/images/vip-c.jpg" alt="">
                    <p class="hd-h3">会员权益</p>
                </div>

                <div class="content w80 text-center text-gray margin-left-b10 hd-h4">
                    <table style="width:100%;">
                        <tr class="strong">
                            <td>会员等级</td>
                            <td>E会员</td>
                            <td>悦客会员</td>
                        </tr>
                        <tr>
                            <td>大堂现磨咖啡</td>
                            <td>免费</td>
                            <td>免费</td>
                        </tr>
                        <tr>
                            <td>房价优惠折扣</td>
                            <td>无</td>
                            <td>9折</td>
                        </tr>
                        <tr>
                            <td>餐饮优惠折扣</td>
                            <td>无</td>
                            <td>95折</td>
                        </tr>
                        <tr>
                            <td>延时退房</td>
                            <td>无</td>
                            <td>14:00</td>
                        </tr>
                        <tr>
                            <td>提前入住</td>
                            <td>无</td>
                            <td>有</td>
                        </tr>
                        <tr>
                            <td>早餐购买折扣</td>
                            <td>无</td>
                            <td>9折</td>
                        </tr>
                        <tr>
                            <td>预订保留时间</td>
                            <td>18:00</td>
                            <td>20:00</td>
                        </tr>
                        <tr>
                            <td>免查房</td>
                            <td>无</td>
                            <td>有</td>
                        </tr>
                        <tr>
                            <td>免交押金</td>
                            <td>无</td>
                            <td>有</td>
                        </tr>
                        <tr>
                            <td>宝龙艺术品折扣</td>
                            <td>无</td>
                            <td>9折</td>
                        </tr>
                        <tr>
                            <td>体验商城折扣</td>
                            <td>无</td>
                            <td>9折</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
<script>
    $('table tr:odd').css({'background':'#fff'});
    $('table tr td').css({'padding':'5px'});
</script>
{template artels-menu-footer common}
</body>
</html>
