{template header common}
{template artels-menu-header common}
<section class="container">
    <div class="baseline">
        <div class="text-center margin-big">
            <img src="{SKIN_PATH}statics/images/vip-c.jpg" alt="">
            <p class="hd-h3">会员等级</p>
        </div>

        <div class="content w80 text-left margin-left-b10 hd-h4 lh-25">
            <p class="strong margin-bottom text-gray">E会员</p>
            <p>艺境会员是宝龙酒店集团旗下自创品牌连锁酒店——艺珺酒店、艺悦·精选酒店、艺悦酒店、艺筑酒店、宝龙客栈为您定制的专属特殊礼遇，将在您获得专享服务的同时彰显您尊贵的身份，让您体验到在酒店遇见艺术，让艺术融入生活的高端品质。</p>
            <p class="strong  margin-bottom margin-large-top text-gray">悦客会员</p>
            <p class=" ">持有艺境会员卡，让您无论是在商务旅游或者度假旅游都会充满奖赏并获得意外惊喜，您可以在宝龙酒店旗下自创品牌连锁酒店（艺珺酒店、艺悦精选酒店、艺悦酒店、艺筑酒店、宝龙客栈）享有专属尊贵服务。</p>
        </div>
    </div>
</section>
{template artels-menu-footer common}
</body>
</html>
