{template header common}
{template artels-menu-header common}
        <section class="container">
            <div class="baseline">
                <div class="text-center margin-big">
                    <img src="{SKIN_PATH}statics/images/zhangcheng-c.jpg" alt="">
                    <p class="hd-h3">会员章程</p>
                </div>
                <div class="content w80 text-left margin-left-b10 hd-h4">
                    <p>如果您想加入宝龙酒店集团会员，请仔细阅读并全面了解宝龙酒店集团会员的基本条款与细则。</p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第一节  总则</p>
                    <p>本计划的所有优惠内容、服务、条款与细则适用于宝龙酒店集团下自创品牌连锁酒店。<br/>宝龙酒店集团自创品牌连锁酒店有权在事先通知或者没有事先通知的情况下自行决定对优惠条款进行增补、调整、取消或更改。</p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第二节  有效使用</p>
                    <p>本计划的所有优惠内容、服务、条款与细则适用于宝龙酒店集团下自创品牌连锁酒店。<br/>宝龙酒店集团自创品牌连锁酒店有权在事先通知或者没有事先通知的情况下自行决定对优惠条款进行增补、调整、取消或更改。</p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第三节  个人资料</p>
                    <p>如果您选择加入宝龙酒店集团会员，向宝龙酒店集团自创品牌连锁酒店提供或登记信息资料时，即表示您同意宝龙酒店集团自创品牌连锁酒店在内部以市场营销为目的使用会员本人为会员计划提供的个人资料，同意宝龙酒店集团自创品牌连锁酒店为上述目的向所属各酒店传递或交流会员上述个人资料。<br/>为保障会员充分享受宝龙酒店集团所提供的所有会员权益，如会员信息（通讯地址、联系方式等资料）变更时，请及时通知宝龙酒店集团自创品牌连锁酒店订房中心。<br/>每位会员只能凭有效证件办理一个宝龙酒店集团会员会籍账户。 </p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第四节  积分</p>
                    <p>注：此为老版本，尚无新的签批版。</p>
                    <p><img src="{SKIN_PATH}statics/images/jf.png" alt="" style="max-width:100%; height:auto;"></p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第五节  挂失</p>
                    <p>宝龙酒店集团会员卡如有遗失。请立即登录宝龙酒店集团官网（www.artels.cn），办理挂失手续前的经济损失由持卡人自负。</p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第六节 法律管制</p>
                    <p>宝龙酒店集团会员除本章程约束外，受中国法律管制，如持卡人违反所在国家法律法规，其资格将被取缔。</p>
                    <p class="strong  margin-bottom margin-large-top text-gray">第七节 </p>
                    <p>本章程最终解释权归属宝龙艺境酒店管理有限公司。</p>
                </div>
            </div>
        </section>
{template artels-menu-footer common}
</body>
</html>
